{% extends "users/templates/registration/base.html" %}
 {% include 'templates/main_menu.html' %}

{% block content %}

{% if form.errors %}
<p>Enter correct data.</p>
{% endif %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close">✖</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'users:log_in' %}">
{% csrf_token %}
<p>
   <table>
    <tr  class="btn btn-default btn-lg active">
        <td  class="btn-default btn-lg active">{{ form.username.label_tag }}</td>
        <td  class="btn btn-default btn-lg active">{{ form.username }}</td>
    </tr>
    <tr  class="btn btn-default btn-lg active">
        <td  class=" btn-default btn-lg active">{{ form.password.label_tag }}</td>
        <td  class="btn btn-default btn-lg active">{{ form.password }}</td>
    </tr>
    </table> 
</p>

<p class="btn btn-default btn-lg active">
  <form method="post" action="{% url 'users:log_in' %}">
{% csrf_token %}
<input class="btn btn-default btn-lg active" type="submit" value="Sign In">

</form>  
</p>

<p class="btn btn-default btn-lg active">
    <a class="btn btn-default btn-lg active" href="{% url 'users:my_registration' %}"  >Sign Up</a>
</p>

{% endblock %}
<!-- style="font-family: Monospace;font-size: 30px; color: black;font-weight: 600;"  -->