<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'users:log_in' %}"> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:log_out' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ads:ads_lst' %}">Ads lst with create</a>
           <li class="nav-item">
          <a class="nav-link" href="{% url 'ads:ads_filter' %}">Ads lst filtered</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'ads:proposals_lst_with_create' %}">Proposals lst </a>
        </li>
       
       
        </li>
      </ul>
    </div>
  </div>
</nav>


